.wrapper {
    display: flex;  
    align-items: center;
    flex-direction: column;

}

.title {
    color: rgb(59, 41, 41);
    font-style: italic;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-left: 400px;
   
 }


 .all-content {
    display: flex;  
    align-items: center;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    width: 600px;
    padding: 30px;
}